{% extends "layout.html" %}

{% block content %}
    {% if result is none %}
    <form method="POST" action="/{{ category }}">
        <label>Enter the {{ category }} to convert</label>
        <input type="number" step="any" name="value" required>

        <label>Unit to Convert from</label>
        <select name="from_unit">
            {% for unit in units %}
                <option value="{{ unit }}">{{ unit }}</option>
            {% endfor %}
        </select>

        <label>Unit to Convert to</label>
        <select name="to_unit">
            {% for unit in units %}
                <option value="{{ unit }}">{{ unit }}</option>
            {% endfor %}
        </select>

        <button type="submit">Convert</button>
    </form>
    {% else %}
    <p>Result of your calculation</p>
    <div class="result-text">
        {{ original_value }}{{ from_display }} = {{ result|round(2) }}{{ to_display }}
    </div>
    <a href="/{{ category }}"><button>Reset</button></a>
    {% endif %}
{% endblock %}